.is-absolute {
  position: absolute;
}

.is-flex-centered {
  justify-content: center;
  align-items: center;
}

.is-flex-bottom {
  justify-content: center;
  align-items: flex-end;
}

.has-hover-toggle .is-toggled {
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.has-hover-toggle:hover .is-toggled {
  opacity: 1;
}

.menu-list li {
  padding-bottom: 0.5rem;
}

.menu-list a {
  border: 1px solid #ff3860;
}

.menu-list a.is-active {
  background-color: #ff3860;
  color: #ffffff;
}

.menu-list a:hover {
  background-color: #363636;
  color: #ffffff;
}

iframe {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}